.authorization {
  width: 500px;
  max-width: 100%;
  margin: auto;
  padding-bottom: 20px;

  &--input {
    width: 100%;
    display: block;
    margin-bottom: 25px;
    box-sizing: border-box;
  }

  &--title {
    font-family: 'lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 10px;
    text-align: center;
    color: white;
    text-shadow: 7px 6px 12px #38495a;

    @include mobile {
      margin-bottom: 15px;
      font-size: 28px;
    }
  }

  &--button {
    float: right;
  }

  &--toggle {
    float: left;
  }

  &:after {
    content: "";
    clear: both;
    width: 100%;
    display: block;
  }

  @include mobile {
    width: 350px;
    margin-bottom: 20px;
  }
}
