.checkbox {
  padding: 10px 5px;
  border: 1px solid $active-color;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.09);
  color: $active-color;
  font-size: 18px;
  outline: none;
  width: 42px;
  height: 30px;
  cursor: pointer;
}
