.ctrl {
  position: fixed;
  z-index: 200;

  &--arrow {
    position: absolute;
    width: 90px;
    height: 90px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    border-radius: 50%;
    background: $active-color;
    border: 1px solid white;
    outline: none !important;
    margin: auto;
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */


    &__top {
      top: 0;
      left: 0;
      right: 0;
    }

    &__bottom {
      bottom: 0;
      left: 0;
      right: 0;
    }

    &__left {
      bottom: 0;
      left: 0;
      top: 0;
    }

    &__right {
      bottom: 0;
      right: 0;
      top: 0;
    }
  }

  @media (orientation: landscape) {
    right: 30px;
    bottom: 30px;
    height: 50%;
    width: 40%;
  }

  @media (orientation: portrait) {
    right: 0;
    left: 0;
    margin: auto;
    bottom: 30px;
    height: 35%;
    width: 65%;
  }

  @media screen and (min-width: 1000px) {
    display: none;
  }
}
