.input {
  padding: 10px 5px;
  border: 1px solid $active-color;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.09);
  color: $active-color;
  font-size: 18px;
  outline: none;
  text-indent: 10px;

  &--title {
    display: block;
    font-family: 'lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: $active-color-light;
    margin-bottom: 10px;
    margin-top: 20px;
  }
}
