.loader {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-image: url("./images/loader.gif");
    background-position: center;
    background-color: rgba(3, 3, 3, 0.36);
  }

  &--title {
    padding: 30px 10px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
  }
}
