.maze {
  background: rgb(27, 42, 62);

  &--path {
    & > line {
      animation-name: fadeIn;
      animation-duration: 1000ms;
      //stroke: $maze-border-color;
    }
  }

  &--border {
    fill: $maze-border-color;
  }

  &--exit {
    stroke: white;
    fill: white;
  }

  rect.player {
    //@include transition-property(x, y);
    //@include transition-duration(.3s);
    z-index: 50;
    fill: white;
    rx: 15px;
    ry: 15px;

    &__enemy {
      z-index: 100;
      fill: white;
    }
  }

  .player--nickname {
    transition-property: all;
    transition-duration: .3s;
    fill: $active-color-light;
    font-size: 16px;
  }

  &__is-mobile {
    margin: 0 400px 400px 0;
  }

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
