$main-font: anonymous_pro, Arial, sans-serif;
$main-color: #333333;
$main-color-light: #666666;
$active-color: #009ee3;
$active-color-light: #e7f3f8;
$user-info-color: #0AA338;
$hover-item-color: rgba(0, 0, 0, 0.025);
$maze-bg-color: rgb(27, 42, 62);
$maze-border-color: #32517d;
