html {
  height: 100%;
  background-color: $maze-bg-color;
}

body {
  font-family: $main-font;
  height: 100%;
}

p {
  margin-bottom: 10px;
}

b,
strong {
  font-weight: bold;
}


i {
  font-style: italic;
}

a {
  @include transition(opacity .2s);
  color: $active-color-light;
  text-decoration: none;
  text-shadow: 7px 6px 12px #38495a;
  opacity: .7;

  &:hover {
    opacity: 1
  }
}

* {
  touch-action: none;
}

.text-right {
  text-align: right;
}
